<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>for sha</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<div class="page">

    <div class="container">

        <div class="card">


            <p class="subtitle center">
                august 25, 2026
            </p>


            <h1 class="title">
                happy birthday, sha
            </h1>


            <div class="letter">


                <p>
                    dear sha,
                </p>


                <br>


                <p>
                    another year, another chapter.
                    i hope this one treats you kindly.
                </p>


                <br>


                <p>
                    thank you for being someone i got to know
                    through a screen and eventually met
                    in real life.
                </p>


                <br>


                <p>
                    maybe we didn't get a picture together that day,
                    but we'll just have to fix that next time.
                </p>


                <br>


                <p>
                    so here's to more conversations,
                    more random plans,
                    more memories,
                    and eventually watching blood saga together.
                </p>


                <br>


                <p>
                    stay happy, stay you,
                    and please have a really good year ahead.
                </p>


                <p class="signature">
                    happy birthday, sha.
                </p>


            </div>


            <div class="center">

                <a
                    href="/"
                    class="button"
                >
                    start again
                </a>

            </div>


        </div>

    </div>

</div>

</body>

</html>