<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>a little message</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<div class="page">

    <div class="container">

        <div class="card">


            <p class="subtitle">
                for sha
            </p>


            <h1 class="title">
                a little message
            </h1>


            <div class="message-box">

                <p>
                    happy birthday, sha.
                </p>


                <br>


                <p>
                    it's kind of funny how an online friendship
                    can turn into something that feels this real.
                </p>


                <br>


                <p>
                    we've talked, shared random things,
                    survived our own little moments,
                    and somehow even managed to meet once.
                </p>


                <br>


                <p>
                    even though we forgot to take a photo together,
                    at least we have another chance to make
                    more memories.
                </p>


                <br>


                <p>
                    especially with blood saga waiting for us.
                </p>


                <br>


                <p>
                    i hope 22 brings you better days,
                    good people, things worth remembering,
                    and plenty of reasons to be happy.
                </p>

            </div>


            <div class="center">

                <a
                    href="/letter"
                    class="button"
                >
                    one last thing
                </a>

            </div>


        </div>

    </div>

</div>

</body>

</html>